<li>
    <div class='btn-group'>
        <a class='btn btn-default' data-wysihtml5-command='justifyLeft' title='{{locale.text_align.justifyLeft}}' tabindex='-1'>
            <span class='glyphicon glyphicon-align-left'> </span>
        </a>
        <a class='btn btn-default' data-wysihtml5-command='justifyCenter' title='{{locale.text_align.justifyCenter}}' tabindex='-1'>
            <span class='glyphicon glyphicon-align-center'> </span>
        </a>
        <a class='btn btn-default' data-wysihtml5-command='justifyRight' title='{{locale.text_align.justifyRight}}' tabindex='-1'>
            <span class='glyphicon glyphicon-align-right'> </span>
        </a>
        <a class='btn btn-default' data-wysihtml5-command='justifyFull' title='{{locale.text_align.justify}}' tabindex='-1'>
            <span class='glyphicon glyphicon-align-justify'> </span>
        </a>
    </div>
</li>
